
/.idea/
*.iml
*/target

zero-cloud-starters/copier-spring-boot/copier-spring-boot-autoconfigure/target/

zero-cloud-starters/copier-spring-boot/copier-spring-boot-starter/target/
zero-cloud-boss/yarn-error.log
zero-cloud-boss/.vscode/settings.json
