将删除 cloud-config-client/build/
将删除 cloud-config-server/build/
将删除 cloud-eureka-client/.gradle/
将删除 cloud-eureka-client/build/
将删除 cloud-eureka-feign/.gradle/
将删除 cloud-eureka-feign/build/
将删除 cloud-eureka-ribbon/.gradle/
将删除 cloud-eureka-ribbon/build/
将删除 cloud-eureka-server/.gradle/
将删除 cloud-eureka-server/build/

/.idea/
/cloud-admin-dashboard/.idea/
/cloud-config-server/cloud-config-server.iml
/cloud-eureka-client-a/.idea/
/cloud-eureka-client-a/build/
/cloud-eureka-feign/.idea/
/cloud-eureka-ribbon/.idea/
/cloud-eureka-server/.idea/
/cloud-hystrix-dashboard/.idea/
/spring-cloud-learn.iml
.gradle/
cloud-admin-dashboard/.gradle/
cloud-admin-dashboard/build/
cloud-config-client/.gradle/
cloud-eureka-client-b/build/
cloud-eureka-feign/.gradle/
cloud-eureka-feign/build/
cloud-eureka-server/build/
cloud-hystrix-dashboard/build/
/cloud-config-client/build/

*.class
